<tr>
  <th scope="row"><%= index %></th>
  <td><%= pipeline.name %></td>
  <td><%= (Time.now - pipeline.updated_at).to_i %> seconds ago</td>
  <td><%= (pipeline.created_at).strftime("%m/%d/%Y") %></td>
</tr>
