
<div class="container">
  <h1> Pipelines </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Last Update</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
    <% @pipelines.each_with_index do |pipeline, index| %>
      <%= render partial: "pipeline", locals: { pipeline: pipeline, index: index } %>
    <% end %>
    </tbody>
  </table>
</div>

